{% extends 'base.html' %}
{% block content %}
<h1>Blood Packet Details</h1>
    <h2>Assigned To: {{blood.patient}}</h1>
    <h2>Donated Date: {{blood.date}}</h1>
    <h2>Blood Group: {{ blood.blood_type}}</h2>
    <h2>Donor: {{blood.donor}}</h2>
    <h3>Location: {{blood.location}}</h3>
    <div class="row">
    <form action="{% url 'bloodmanagement:blood-delete' pk=blood.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary m-3" type="submit" value="Delete">
    </form>
    <a href="{% url 'bloodmanagement:blood-update' pk=blood.pk %}"><input class="btn btn-warning m-3" type="submit" value="Update"></a>
    </div>
    
{% endblock content %}
