{% extends 'base.html' %}
{% block content %}

    <h1>Name: {{staff.name}}</h1>
    <h2>Address: {{staff.address}}</h2>
    <h2>Phone: {{staff.phone}}</h2>
    <h2>Deparment: {{staff.department}}</h2>
    <div class="row"> 
    <form action="{% url 'bloodmanagement:staff-delete' pk=staff.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary m-3" type="submit" value="Delete">
    </form>
    <a href="{% url 'bloodmanagement:staff-update' pk=staff.pk %}"><input class="btn btn-warning m-3" type="submit" value="Update"></a>
    </div>
    
{% endblock content %}